
<h1>Here you can add a new task</h1>

<form method="post" action="/task/">
    <table style="border:0; border-collapse: collapse; width:100%">
        <tr>
            <td width="20%"><label for="tasktitle">Title:</label></td>
            <td width="80%"><input type="text" name="tasktitle" id="tasktitle""></td>
        </tr>
        <tr>
            <td width="20%"><label for="desc">Description:</label></td>
            <td width="80%"><textarea rows="3" name="desc" id="desc"></textarea></td>
        </tr>
        <tr>
            <td width="20%"><label for="prio">Priority:</label></td>
            <td width="80%"><input type="range" min="1" max="5" name="prio" id="prio" value="3"></td>
        </tr>
        <tr>
            <td width="20%"><label for="due">Due to:</label></td>
            <td width="80%"><input type="date" name="due" id="due"></td>
        </tr>
        <tr>
            <td width="20%"></td>
            <td width="80%"><input type="checkbox" name="done" id="done" value="true"> <label for="done">Done !</label></td>
        </tr>
        <tr>
            <td width="20%"></td>
            <td width="80%"><button type="submit" class="btn">Send</button><button type="clear" class="btn">Clear</button></td>
        </tr>
    </table>
</form>