<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<menu>
    <a class="btn" href="/add_task">Create new Node</a>
    <button type="button">By finish Date</button>
    <button type="button">By create Date</button>
    <button type="button">By importance</button>
    <button type="button">Style Switcher</button>
    <button type="button">Fertige verbergen</button>
</menu>
<div id="list">
    <!-- for each call other template  task_list  -->
    <div class="task-entry">
        <div>
            in a month
            Einkaufen/Title
            Rating/Wichtigkeit
        </div>
        <div>
            <label><input type="checkbox" name="vehicle2" value="Car"> Finished</label>
            <textarea readonly>
                Apfel (Beschreibung)
                Karotte
            </textarea>
        </div>
        <button type="button">Edit</button>
    </div>
</div>
