body {
  background-color: #10303D;
  color: #ffffff;
}

input, textarea {
  color: #e7e7e7;
  background-color: #164152;
}

button, .btn {
  color: #fff;
  background-color: #06429B;
  border-color: #333;

  /* specials... */
  min-width: 145px;
  text-decoration: none;
}

.btn.active {
  background-color: dodgerblue;
}

button:hover,
.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.empty {
  border: 1px solid darkblue;
  border-radius: 5px;
  background: dodgerblue;
  align-content: center;
  margin: 2em auto;
  padding: 0.5em;
}
