body {
  background-color: #10303D;
  color: #ffffff;
}

input, textarea {
  color: #e7e7e7;
  background-color: #164152;
}

button, .btn {
  color: #fff;
  background-color: #06429B;
  border-color: #333;

  /* specials... */
  min-width: 145px;
  text-decoration: none;
}

.btn.active {
  background-color: #0857cc;
  border-color: #fff;
}

button:hover,
.btn:hover {
  color: #fff;
  background-color: #0a6dff;
  border-color: #fff;
}

.msg {
  border-color: #fff;
  background: #06429B;
}
