* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
menu {
  padding: 0;
  margin: 0;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
input[type="checkbox"], input[type="radio"] {
  display: inline;
  width: initial;
}
button, .btn { /* from bs */
  display: inline-block;
  padding: 0.4em 0.2em;
  margin: 0.4em 0.2em 0 0;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  /* default color */
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  /* specials... */
  min-width: 145px;
  text-decoration: none;
}

.btn.active {
  background-color: #ededed;
}

button:hover,
.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.input-group {
  margin-bottom: 0.8rem;
}
.msg {
  border: 1px solid #adadad;
  border-radius: 5px;
  background: #ededed;
  align-content: center;
  margin: 2em auto;
  padding: 0.5em;
}

.task-entry > div {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.task-entry .status-row label {
  min-width: 80px;
}
.task-entry .btn {
  min-width: 50px;
  height: 100%;
  margin: 0;
}
.task-entry .time,
.task-entry label {
  /*
  flex-basis: 20%;
  flex-grow: 1;
  */
  flex-basis: 180px;
}
.task-entry form {
  display: inline-block;
  height: 100%;
}
.task-entry .title,
.task-entry textarea {
  flex-basis: 40%;
  flex-grow: 3;
}

.task-entry .btn-space,
.task-entry .btn-group {
  /*
  flex-basis: 30%;
  flex-grow: 1;
  */
  flex-basis: 120px;
  padding-left: 10px;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
}
.topbar {
  justify-content: space-between;
}
.bottombar > a:last-of-type {
  margin-left: auto;
}

@media screen and (min-width: 601px) {
  .input-group {
    display: flex;
  }
  .input-group  label{
    display: inline-block;
    width: 20%;
    text-align: right;
    padding-right: 2em;
  }
  .input-group input,
  .input-group textarea {
    max-width: 80%;
    display: inline-block;
  }
  .input-group.left-space {
    margin-left: 20%;
  }
  .input-group.left-space input[type=checkbox] {
     margin: 0.25em 0.5em 0 0;
  }
  .input-group.left-space label {
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .btn.small-on-mobile {
    min-width: initial;
  }
  .task-entry form {
    height: auto;
  }
}